{{!< main}}

<div class="container">
    <div id="page-title">
        <h3>Customers</h3>
    </div>
    <hr>
</div>


<div class="container">
    {{!-- {{getUrl ''}} --}}
    <div class="text-right add-button">
        <a href="{{baseURL}}/customers/create">
            <button class="btn btn-success">Add Customer <i class="fas fa-user-plus"></i></button>
        </a>

    </div>

    {{> flash_messages}}
    <div id="search_section" class="well">

        <form class="form-inline my-2 my-lg-0 justify-content-center">
            <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search" aria-label="Search" value="{{searchFormdata.name}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <a href="{{baseURL}}/customers">
                   <button class="btn btn-outline-info my-2 my-sm-0" type="button">Clear</button>
            </a>
         
        </form>
    </div>



    <div id="list_section" class="well text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Actions</th>


                </tr>
            </thead>
            <tbody>
                {{#customers}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{gender}}</td>
                    <td>{{mobile}}</td>
                    <td>{{email}}</td>

                    <td>
                        <a href="/customers/{{id}}/edit" class="btn btn-info">
                            <i class="far fa-edit"></i></a>
                        </a>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteModal{{id}}"><i class="far fa-trash-alt"></i></button>




                    </td>


                </tr>
                <div class="modal fade" id="deleteModal{{id}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="customers/{{id}}/delete" method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{first_name}} {{last_name}} ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-warning">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {{/customers}}
            </tbody>
        </table>

        <div>
            {{{paginationLinks paginationData searchFormdata paginationBaseUrl}}}
        </div>

    </div>






</div>